In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets

In [2]:
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [3]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [4]:
#podstawowe parametry
yes = df.loc[df['OverTime'] == "Yes"]
no = df.loc[df['OverTime'] == "No"]
att_yes = df.loc[df['Attrition'] == "Yes"]
att_no = df.loc[df['Attrition'] == "No"]

# WorkLifeBalance vs. Attrition #

In [5]:
df.groupby(['Attrition', 'WorkLifeBalance'])['EmployeeCount'].count().unstack(fill_value=0)

WorkLifeBalance   1    2    3    4
Attrition
No               55  286  766  126
Yes              25   58  127   27

In [6]:
from IPython.display import display
from ipywidgets import HBox, Label
slider_widget = widgets.FloatSlider(
    value=1,
    min=1,
    max=4,
    step=1,
    description='',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d',
)
slider_widget
HBox([Label('Give your WorkLifeBalanse on a scale of 1 to 4: (4 is the highest rating)'), slider_widget])

HBox(children=(Label(value='Give your WorkLifeBalanse on a scale of 1 to 4: (4 is the highest rating)'), Float…

In [7]:
x = int(slider_widget.value)
y = "WorkLifeBalance"
sprawdzana = df.loc[df[y] == x]
suma_spraw = sprawdzana + att_yes
sprawdzenie = suma_spraw["EmployeeCount"].count()
suma_yes = sprawdzana + att_yes
suma_no = sprawdzana + att_no
suma_cal = suma_yes["EmployeeCount"].count() + suma_no["EmployeeCount"].count()
p = suma_yes["EmployeeCount"].count() / suma_cal
print("The probability of leaving the company with given WorkLifeBalance: {0} is: {1}.".format(x,p))

The probability of leaving the company with given WorkLifeBalance: 1 is: 0.3125.

# JobSatisfaction vs. Attrition #

In [8]:
df.groupby(['Attrition', 'JobSatisfaction'])['EmployeeCount'].count().unstack(fill_value=0)

JobSatisfaction    1    2    3    4
Attrition
No               223  234  369  407
Yes               66   46   73   52

In [9]:
from IPython.display import display
from ipywidgets import HBox, Label
slider_widget = widgets.FloatSlider(
    value=1,
    min=1,
    max=4,
    step=1,
    description='',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d',
)
slider_widget
HBox([Label('Give your JobSatisfaction on a scale of 1 to 4: (4 is the highest rating)'), slider_widget])

HBox(children=(Label(value='Give your JobSatisfaction on a scale of 1 to 4: (4 is the highest rating)'), Float…

In [10]:
x = int(slider_widget.value)
y = "JobSatisfaction"
sprawdzana = df.loc[df[y] == x]
suma_spraw = sprawdzana + att_yes
sprawdzenie = suma_spraw["EmployeeCount"].count()
suma_yes = sprawdzana + att_yes
suma_no = sprawdzana + att_no
suma_cal = suma_yes["EmployeeCount"].count() + suma_no["EmployeeCount"].count()
p = suma_yes["EmployeeCount"].count() / suma_cal
print("The probability of leaving the company with given JobSatisfaction: {0} is: {1}.".format(x,p))

The probability of leaving the company with given JobSatisfaction: 1 is: 0.22837370242214533.

# PerformanceRating vs. Attrition #

In [11]:
df.groupby(['Attrition', 'PerformanceRating'])['EmployeeCount'].count().unstack(fill_value=0)

PerformanceRating     3    4
Attrition
No                 1044  189
Yes                 200   37

In [12]:
from IPython.display import display
from ipywidgets import HBox, Label
slider_widget = widgets.FloatSlider(
    value=1,
    min=1,
    max=4,
    step=1,
    description='',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d',
)
slider_widget
HBox([Label('Give your PerformanceRating on a scale of 1 to 4: (4 is the highest rating)'), slider_widget])

HBox(children=(Label(value='Give your PerformanceRating on a scale of 1 to 4: (4 is the highest rating)'), Flo…

In [13]:
x = int(slider_widget.value)
y = "PerformanceRating"
sprawdzana = df.loc[df[y] == x]
suma_spraw = sprawdzana + att_yes
sprawdzenie = suma_spraw["EmployeeCount"].count()
suma_yes = sprawdzana + att_yes
suma_no = sprawdzana + att_no
suma_cal = suma_yes["EmployeeCount"].count() + suma_no["EmployeeCount"].count()
p = suma_yes["EmployeeCount"].count() / suma_cal
if x < 3:
    print("The probability of leaving the company with given PerformanceRating: {0} is: {1}.".format(x,0))
else:
    print("The probability of leaving the company with given PerformanceRating: {0} is: {1}.".format(x,p))

The probability of leaving the company with given PerformanceRating: 1 is: 0.
<ipython-input-13-f248b3ca06f8>:9: RuntimeWarning: invalid value encountered in long_scalars
  p = suma_yes["EmployeeCount"].count() / suma_cal

# EnvironmentSatisfaction vs. Attrition #

In [14]:
df.groupby(['Attrition', 'EnvironmentSatisfaction'])['EmployeeCount'].count().unstack(fill_value=0)

EnvironmentSatisfaction    1    2    3    4
Attrition
No                       212  244  391  386
Yes                       72   43   62   60

In [15]:
from IPython.display import display
from ipywidgets import HBox, Label
slider_widget = widgets.FloatSlider(
    value=1,
    min=1,
    max=4,
    step=1,
    description='',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d',
)
slider_widget
HBox([Label('Give your EnvironmentSatisfaction on a scale of 1 to 4: (4 is the highest rating)'), slider_widget])

HBox(children=(Label(value='Give your EnvironmentSatisfaction on a scale of 1 to 4: (4 is the highest rating)'…

In [16]:
x = int(slider_widget.value)
y = "EnvironmentSatisfaction"
sprawdzana = df.loc[df[y] == x]
suma_spraw = sprawdzana + att_yes
sprawdzenie = suma_spraw["EmployeeCount"].count()
suma_yes = sprawdzana + att_yes
suma_no = sprawdzana + att_no
suma_cal = suma_yes["EmployeeCount"].count() + suma_no["EmployeeCount"].count()
p = suma_yes["EmployeeCount"].count() / suma_cal
print("The probability of leaving the company with given EnvironmentSatisfaction: {0} is: {1}.".format(x,p))

The probability of leaving the company with given EnvironmentSatisfaction: 1 is: 0.2535211267605634.

# OverTime vs. Attrition #

In [17]:
df.groupby(['Attrition', 'OverTime'])['EmployeeCount'].count().unstack(fill_value=0)

OverTime    No  Yes
Attrition
No         944  289
Yes        110  127

In [18]:
suma_yes_overtimeyes = yes + att_yes
suma_no_overtimeyes = yes + att_no
suma_cal_overtimeyes = suma_yes_overtimeyes['EmployeeCount'].count() + suma_no_overtimeyes['EmployeeCount'].count()
p_overtimeyes = suma_yes_overtimeyes['EmployeeCount'].count() / suma_cal_overtimeyes
print(p_overtimeyes)

0.30528846153846156

In [19]:
suma_yes_overtimeno = no + att_yes
suma_no_overtimeno = no + att_no
suma_cal_overtimeno = suma_yes_overtimeno['EmployeeCount'].count() + suma_no_overtimeno['EmployeeCount'].count()
p_overtimeno = suma_yes_overtimeno['EmployeeCount'].count() / suma_cal_overtimeno
print(p_overtimeno)

0.10436432637571158

In [20]:
from IPython.display import display
from ipywidgets import HBox, Label
dropdown_widget = widgets.Dropdown(
    options=[("Yes", "Yes"), ("No", "No")],
    value="Yes",
    description='',
)
dropdown_widget 
HBox([Label('Do you work overtime?:'), dropdown_widget ])

HBox(children=(Label(value='Do you work overtime?:'), Dropdown(options=(('Yes', 'Yes'), ('No', 'No')), value='…

In [27]:
overtime = str(dropdown_widget.value)
if overtime.lower() == "yes":
    print("The probability of leaving the company when you do overtime: {0} is: {1}.".format(x,p_overtimeyes))
elif overtime.lower() == "no":
    print("The probability of leaving the company when you dont overtime: {0} is: {1}.".format(x,p_overtimeno))

The probability of leaving the company when you dont overtime: 1 is: 0.10436432637571158.